dist
.github

package.json
package-lock.json

Dockerfile
docker-compose.yml

tsconfig.json
tsconfig.node.json

.gitignore
.prettierrc.json
.prettierignore
.gitlab-ci.yml

CONTRIBUTING.md
README.md
.env
.env.example

index.js
db/config/config.json
src/**/*.js

**/*.scss
**/*.css

index.html

.idea/
_build