node_modules
dist
.github

package.json
package-lock.json

tsconfig.json

Dockerfile
docker-compose.yml

.gitignore
.prettierrc.json
.prettierignore
.gitlab-ci.yml

CONTRIBUTING.md
README.md
.env
.env.example

index.js
db/config/config.json
src/**/*.js

.idea/